Repository zapPilot/FromFedToChain: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dart format, flutter pub get

Create privacy-policy.md
  privacy-policy.md
Due: prettier --write

fix: fix permission issue to pass ios review
  app/ios/Runner/Info.plist
Due: none

fix(app): fix the background playing
  .claude/commands/serena_plan.md
  .claude/commands/serene_build.md
  .serena/memories/coding_style.md
  .serena/memories/development_commands.md
  .serena/memories/project_overview.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/drawable/ic_notification.xml
  app/ios/Runner/Info.plist
Due: prettier --write

fixCI
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .serena/memories/ci_configuration.md
  tests/run-tests.js
Due: prettier --write

feat(app): fix CI + fix speed up in player screen + show content (wip)
  .github/workflows/coverage.yml
  .github/workflows/quality.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  app/.env.example
  app/assets/.gitkeep
  app/assets/images/.gitkeep
  app/lib/screens/player_screen.dart
  app/lib/services/audio_service.dart
  app/lib/services/content_service.dart
  app/lib/widgets/content_display.dart
  package.json
Due: prettier --write, dart format

feat(content): can show content while plaing audio
  app/lib/screens/player_screen.dart
  app/lib/services/content_service.dart
  app/lib/widgets/content_display.dart
  package-lock.json
Due: prettier --write, dart format

fix(app): fix the content language issue
  app/lib/config/api_config.dart
  app/lib/models/audio_file.dart
  app/lib/services/content_service.dart
Due: dart format

I've successfully fixed the publish time issue where episodes were always showing "today". Here's what was implemented:
  .husky/pre-commit
  .serena/memories/publish_date_fix.md
  app/lib/models/audio_file.dart
  app/lib/screens/home_screen.dart
  app/lib/services/content_service.dart
  app/lib/widgets/audio_item_card.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: prettier --write, dart format, flutter pub get

fixCI: remove .env
  app/pubspec.yaml
Due: flutter pub get

fixCI
  .github/workflows/coverage.yml
  .github/workflows/quality.yml
  .lintstagedrc.json
  app/analysis_options.yaml
  app/lib/screens/home_screen.dart
  app/lib/screens/player_screen.dart
  app/lib/services/content_service.dart
  app/lib/widgets/content_display.dart
Due: prettier --write, dart format

test: verify pre-commit hooks work
  app/lib/main.dart
Due: dart format

fix: turns out we need .env to fetch playlist
  app/pubspec.yaml
Due: flutter pub get

try fix ci
  .lintstagedrc.json
  app/lib/main.dart
  app/lib/widgets/content_display.dart
  docs/pre-commit-ci-alignment.md
  package.json
Due: prettier --write, dart format

fixCI: copy .env.example to .env
  .github/workflows/ci.yml
  app/.env.example
  tests/cli-commands.test.js
Due: prettier --write

test: fix ci
  app/test/widget_test.dart
Due: dart format

chores: upgrade flutter ci
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

fixCI: copy .env
  .github/workflows/quality.yml
Due: none

fixCI: remove failed check secrets job
  .github/workflows/quality.yml
Due: none

wip: have 26 failing test cases
  app/test/mocks/audio_player_mock.dart
  app/test/models/audio_content_test.dart
  app/test/models/audio_file_test.dart
  app/test/models/playlist_test.dart
  app/test/quick_test_fixes.md
  app/test/services/audio_service_test.dart
  app/test/test_utils.dart
Due: prettier --write, dart format

fixCI: remove failing test cases
  app/test/models/audio_file_test.dart
  app/test/models/playlist_test.dart
  app/test/services/audio_service_test.dart
Due: dart format

test: add coverage check
  app/coverage.yaml
  app/pubspec.lock
  app/pubspec.yaml
  app/scripts/coverage_check.dart
  app/test/models/playlist_test.dart
  package.json
Due: prettier --write, dart format, flutter pub get

fixCI: consolidate github actions workflow
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

test:
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .husky/pre-commit
  .lintstagedrc.json
  app/scripts/coverage_check.dart
  app/test/models/audio_file_test.dart
  app/test/models/playlist_test.dart
  package.json
  service-account.json.example
  tests/end-to-end-workflow.test.js
  tests/pipeline.test.js
  tests/translation.test.js
Due: prettier --write, dart format

test fixCI
  .github/workflows/ci.yml
  TEST_SERIALIZATION_FIX.md
  package.json
  tests/contentmanager-nested-robust.test.js
  tests/run-tests-simple.js
Due: prettier --write

test fixCI
  .github/workflows/ci.yml
Due: none

test
  .github/workflows/ci.yml
Due: none

fixCI: upgrade node version to try fixing it
  .github/workflows/ci.yml
  tests/contentmanager-nested.test.js
Due: prettier --write

feat: add framework this column
  .claude/commands/questions.md
  .claude/commands/write_from_url.md
  src/ContentSchema.js
Due: prettier --write

chores: update content
  app/pubspec.yaml
  content/en-US/ethereum/2025-07-25-zk-computation-markets-business-models.json
  content/en-US/ethereum/2025-07-27-eth-reserve-asset-digital-economy.json
  content/en-US/ethereum/2025-07-28-solana-internet-capital-markets-roadmap.json
  content/en-US/macro/2025-07-25-stablecoin-digital-colonialism-historical-patterns.json
  content/en-US/macro/2025-07-25-swift-xbmt-global-financial-infrastructure.json
  content/en-US/macro/2025-07-26-blockchain-adoption-historical-patterns.json
  content/ja-JP/ethereum/2025-07-25-zk-computation-markets-business-models.json
  content/ja-JP/ethereum/2025-07-27-eth-reserve-asset-digital-economy.json
  content/ja-JP/ethereum/2025-07-28-solana-internet-capital-markets-roadmap.json
  content/ja-JP/macro/2025-07-25-stablecoin-digital-colonialism-historical-patterns.json
  content/ja-JP/macro/2025-07-25-swift-xbmt-global-financial-infrastructure.json
  content/ja-JP/macro/2025-07-26-blockchain-adoption-historical-patterns.json
  content/zh-TW/defi/2025-08-05-usde-synthetic-stablecoin-delta-neutral-risks.json
  content/zh-TW/ethereum/2025-07-25-zk-computation-markets-business-models.json
  content/zh-TW/ethereum/2025-07-27-eth-reserve-asset-digital-economy.json
  content/zh-TW/ethereum/2025-07-28-solana-internet-capital-markets-roadmap.json
  content/zh-TW/macro/2025-07-25-stablecoin-digital-colonialism-historical-patterns.json
  content/zh-TW/macro/2025-07-25-swift-xbmt-global-financial-infrastructure.json
  content/zh-TW/macro/2025-07-26-blockchain-adoption-historical-patterns.json
Due: prettier --write, flutter pub get

feat: add framework this new schema
  .claude/commands/write_from_url.md
  content/zh-TW/defi/2025-08-05-usde-synthetic-stablecoin-delta-neutral-risks.json
  src/ContentManager.js
  src/ContentSchema.js
  src/services/TranslationService.js
  tests/contentmanager-nested.test.js
  tests/end-to-end-workflow.test.js
  tests/manual-review-test.js
Due: prettier --write

fix: fix test case by add lang back
  src/ContentSchema.js
Due: prettier --write

chores: update defi content
  content/en-US/defi/2025-08-05-usde-synthetic-stablecoin-delta-neutral-risks.json
  content/ja-JP/defi/2025-08-05-usde-synthetic-stablecoin-delta-neutral-risks.json
  content/zh-TW/defi/2025-08-05-usde-synthetic-stablecoin-delta-neutral-risks.json
Due: prettier --write

update wording
  app/web/index.html
  app/web/manifest.json
Due: prettier --write

feat: update icon
  .serena/memories/flutter_app_refactoring_analysis.md
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/mipmap-hdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-mdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xhdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xxhdpi/launcher_icon.png
  app/android/app/src/main/res/mipmap-xxxhdpi/launcher_icon.png
  app/assets/images/logo.png
  app/assets/images/logo.svg
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  app/pubspec.lock
  app/pubspec.yaml
  app/web/favicon.png
  app/web/icons/Icon-512.png
  app/web/icons/Icon-maskable-192.png
  app/web/icons/Icon-maskable-512.png
  content/zh-TW/defi/2025-08-05-oracle-manipulation-attacks-hyperliquid-jelly.json
  content/zh-TW/defi/2025-08-06-eip7702-transaction-simulation-security-gaps.json
  content/zh-TW/ethereum/2025-08-05-eip-0000-unified-multidimensional-fee-market.json
Due: prettier --write, flutter pub get

chores: clean up memories
  .serena/memories/ci_configuration.md
  .serena/memories/coding_style.md
  .serena/memories/development_commands.md
  .serena/memories/flutter_app_refactoring_analysis.md
  .serena/memories/publish_date_fix.md
  .serena/memories/task_completion_checklist.md
Due: prettier --write

refactor: extract flutter modules
  .claude/commands/serena_plan.md
  .claude/commands/serene_build.md
  app/lib/main.dart
  app/lib/services/audio_service.dart
  app/lib/services/background_audio_handler.dart
  app/lib/services/content_service.dart
  app/lib/services/streaming_api_service.dart
  content/en-US/defi/2025-08-05-oracle-manipulation-attacks-hyperliquid-jelly.json
  content/en-US/ethereum/2025-08-05-eip-0000-unified-multidimensional-fee-market.json
  content/ja-JP/defi/2025-08-05-oracle-manipulation-attacks-hyperliquid-jelly.json
  content/ja-JP/ethereum/2025-08-05-eip-0000-unified-multidimensional-fee-market.json
  content/zh-TW/defi/2025-08-05-oracle-manipulation-attacks-hyperliquid-jelly.json
  content/zh-TW/ethereum/2025-08-05-eip-0000-unified-multidimensional-fee-market.json
Due: prettier --write, dart format

Issue: The "unfinished" episodes tab wasn't working because AudioService never updated episode completion progress in ContentService.
  app/lib/main.dart
  app/lib/services/audio_service.dart
  app/lib/services/content_service.dart
  app/lib/services/streaming_api_service.dart
Due: dart format

docs: update readme and serena
  .claude/commands/serene_build.md
  .serena/memories/flutter_app_components.md
  .serena/memories/project_overview.md
  .serena/memories/system_architecture.md
  .serena/memories/testing_and_ci_infrastructure.md
  README.md
  app/lib/services/audio_service.dart
  app/pubspec.yaml
Due: prettier --write, dart format, flutter pub get

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

test: add content service tests
  app/test/services/content_service_test.dart
Due: dart format

Path conditions:
  prettier --write: any of: *.{js,mjs,json,md}
  dart format: any of: *.dart
  flutter pub get: any of: pubspec.yaml
